<%= stylesheet_link_tag 'title.css' %>
<div class="fullscreen">
<h1 class="title">New project</h1>
<div class="columns is-centered mt-6">
<%= render "form", project: @project %>



<div>
  
</div>
</div>
